
body{
    display: block;
    top: 0px;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: #F8ECFF;
    font: 14px/21px "Open Sans", Arial, sans-serif;/*Si differenziano per le tipologie di grazie. Dimensione font, dim linea e un font senza grazie*/
    color: #0E0319;  
}

h1{
    margin-top: 13px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 20px;
    color: white;
    font-weight: bold;
    text-indent: 20px;
    font-size: 230%;
    font-family: "Open Sans", Arial, sans-serif;
}

h2{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #7F2865;
    font-weight: bold;
    text-indent: 20px;
    font-size: 120%; 
    font-family:  "Anton", Arial, sans-serif;
}


h3, #Iscrizione,#gratis{
    
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    color: #3C4C8C;
    font-weight: bold;
    text-indent: 20px;
    font-size: 85%; 
    font-family:  "Anton", Arial, sans-serif;
}

/**PAGINA BACHECA*/

.Friends h3{
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    color: #3C4C8C;
    font-weight: bold;
    text-indent: 30px;
    font-size: 92%; 
    font-family:  "Anton", Arial, sans-serif;
}


/*link login */

.clog{
    text-align: right;
    position: absolute;
    top: 0px;
    right: 10px;    
}

.clog a:link{ 
    
    font-size: 30px;
    text-decoration: none; 
    font-family: italic;
    font-family: bold;
    color : white; 
    font-family:  "Open Sans", Arial, sans-serif;
}
.clog a:visited{ 
    
    font-size: 30px;
    text-decoration: none; 
    font-family: italic;
    font-family: bold;
    color : white; 
    font-family:  "Open Sans", Arial, sans-serif;
}


.clog a:hover{ /* se il mouse passa sopra il link definaimo il comportamento di quel link */
    font-weight: bold;
}


/**Modifico il font della text area */
label,input,textArea{
    color: #111111;
    font-size: 18px;
    font-family:  "Open Sans", Arial, sans-serif;
    
}



.list ul{ 
    text-decoration: none;
    list-style-type: none; 
    display: inline-block; 
    margin-top: 0px;
    margin-left: 0px;
    /**text-indent: 0px;*/
   
}



.Friends{
    float: left;
    margin-right:  0px;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 45px;
    width: 170px;
    padding: 5px;
    font-size: 15px; 
}

/* Visualizzazione della lista di amici a sinistra della pagina */
.Friends ul{ 
    padding-left: 25px;
}

.Friends a { 
    font-size: 14px;
    margin-left: 0px;
    display: block;
    width:120px;
    padding: 2px 2px 2px 10px;
    border: 0.5px solid #F8ECFF;
    text-decoration: none;
   
}
.Friends a:link{
    color: #000000;
    font-family: normal;
    margin-left: 0px;
    color : #2A2C42; 
    font-family:  "Open Sans", Arial, sans-serif;
    
}

.Friends a:hover {
    font-weight: normal;
    border: 1px solid #F8ECFF;
    background:#FAF0FF;
    color : #2A2C42; 
    font-family: normal;
    margin-left: 0px;
    color : #2A2C42; 
    font-family:  "Open Sans", Arial, sans-serif; 
}

/*titolo della descrizione */
header{
    margin-right: 0px;
    padding-left: 0px;
    padding-bottom: 10px;
    padding-right: 0px;
    padding-top: 5px;
    width: 300px;
    font-size: 15px; 
}


/*dimensione max di una immagine nel post */
#Posts img{
    max-width: 276px;
    max-height: 77px;
}

/* post centrati nella pagina. Stacca tutti i post dal flusso normale della pagina*/
#Posts {
    float: left; 
    margin-left: 70px;
    width: 410px;    
    }
    
/* link home e login della pagina bacheca */  




.post {
    width: 550px;
    background: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    /*border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,2);*/
}


.profilepic{    
    margin-right: 25px;
    float: left;
    display: block;
    width: 70px;
    height: 70px;
    margin-bottom: 5px;
}

.userData{
    margin-top: 90px;
}

.picture > img{
    margin-top: 15px;
    margin-left: 130px;
    width: 276px;
    height: 77px;
    
}


.barra a { 
    color: white;
    font-size: 19px;
    margin-left: 0px;
    display: block;
    width:120px;
    padding: 2px 2px 2px 10px;
    text-decoration: none;
   
}
.barra a:link{
    font-size: 19px;
    font-family: normal;
    margin-left: 0px;
    color : white; 
    font-family:  "Open Sans", Arial, sans-serif;
    
}

.barra .pg_attuale{
    background: #E2B7FF;
}


.barra a:hover {
    font-size: 19px;
    border: 1px solid #E2B7FF;
    background:#E2B7FF;
    color : white; 
    font-family: normal;
    margin-left: 0px; 
    font-family:  "Open Sans", Arial, sans-serif; 
}


.barra {
    font-size: 15px;
    text-align: center;
    width: auto;
    height: auto;
    list-style-type: none;
    display: inline-block;
    position: absolute;
    top:0px;
    left: 220px;
    margin-top: 0px;
    margin-bottom: 30px;
   
}

ul.barra li{
    display: inline-block;
    float: left;
}


nav ul, nav li{
    list-style-type: none;
    display: inline-block;
}

nav li{
    padding-left: 20px;
    padding-right: 20px;

}

nav li:last-child{
    border-right: 0px solid #111111;
}

nav li.active{
    text-decoration: underline;
}

/* barra con titolo del social e link*/

.blockbar{
    width: auto;
    background: #84078A;

    margin-left: 0px;
    margin-right: 0px;
    height: 50px;
}

#logout,#Logout{
    color: white;
    margin-top: 0px;
    text-align: right;
    position: absolute;
    top: 0px;
    right: 55px;
}

#log_out, #Log_out{
    color: white;
}
#log_out a , #Log_out a{
    color: white;
    font-size: 12px;
    margin-left: 0px;
      
}
.nameprofile{
    color: #440F7D;
}



#navblock{
    width: 500px;
    height: auto;
    background: #84078A;
    text-align: center;
    margin-right: 65%;
    margin-left: 35%;
    margin-top:70px;
    display: block;  
}

#profileDataForm input{
    padding: 0px;
    width: 600px;
    height: 35px;
    margin-bottom: 20px;
    
}
#accessForm input{
    padding: 0px;
    width: 440px;
    height: 35px;
    margin-left: 30px;
    margin-bottom: 20px;
    
}

#accessForm{
    margin-left: 35%;
    margin-right: 90%;
    display: block;
    width: 47%;
    /*margin-left: 30%;*/
    /*margin-right: 50%;*/
    margin-top: 25px;
    /*border: 3px solid #000000;*/
}



.credenziali{
    
    width: 20px;
    margin-left: 30px;
    font-size: 20px;
    color: #3E0447;
}



label.etichetta{
    float: left;
    clear: left;
    margin-bottom: 50px;
}


label.credenziali {
    margin-top: 10px;
}



#profileDataForm{
    width: 600px;
    position: absolute;
    font-size: 20px;
    margin-left: 30%;
    margin-top: -6%;
    
}


#profileDataForm input{
    float: right;
    clear: right;
    width: 300px;
    height: 25px;
    
}

#profileDataForm textArea{
    float: right;
    clear: right;
    width: 300px;
    height: 100px;
    margin-bottom: 20px;
    
}
#imgprofilo, #profileDataForm form{
    display: inline-block;
}
#imgprofilo > img{
    margin-left: 100px;
    margin-top: 120px;
    height: 100px;
    width: 90px;
    -moz-border-radius: 180px;
    -webkit-border-radius: 180px;
    border-radius: 180px
}
#etichettadata{
    margin-top: 50px;
}

#profileDataForm button {
    margin-top: 0%;
}

input:focus{
   outline: none;
   border-color: #9B12FF;
   box-shadow: 0 0 10px #9B12FF;
}

.botton{
    width: 440px;
    height:35px;
    margin-left: 30px;
    margin-right: 30px;
}
#profileDataForm button , .botton{
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 10px ;
    
    text-align: center;
   
    background: #DDD3FD;
    border: none;
    font-weight: bold;
    font-size:  24px;
    color: #4F055C;
}

#profileDataForm button{
    width: 600px;
    height:35px;
    margin-left: 0px;
}


#NB {
    margin-top: 10px;
    margin-left: 15px;
    float: left;
    width: 54px;
    height: 44px;
}



#title h1{
    margin-top: 0px;
    padding-top: 15px;
}


#textArea{
  
    margin-bottom: 20px;
}


#home{
    margin-left: 30px;
}
#Description{
    width: 75%;
}
#Body{
    width: 75%;
    text-align: justify;
    margin-top: 3%;
    margin-left: 25%;
    margin-right: 20%;
}


@media only screen and (max-width: 480px){
    
    #navblock {
        position: relative;
        width: 55%;
        height: 24%;
        margin-left:23%;
        margin-right: 5%;
    }
    #navblock h1{
        display: block;
        text-align: left;
        position: relative;
        font-size: 100%;
        
    }
    
    #accessForm form{
        position: relative;
        display: block;
        margin-left: -20%;
        
    }
    #accessForm input{
        margin-bottom:  5px;
        clear: left;
        float: left;
        position: relative;
        width: 85%;
        height: 24%;
        margin: 0px;
    }
    
    #accessForm label{
        margin-left: 23%;
        font-size: 17px;
    }
    #NB{
        margin-top: 10px;
        margin-left: 3px;
        margin-right: 0px;
        float: left;
        width: 44px;
        height: 34px;
    }
  
    #accessForm button{
        box-shadow: 0 0 10px #9B12FF;
        clear: left;
        float: left;
        position: relative;
        width: 85%;
        height: 20%;
        margin: 0px;
        margin-top: 25px;
    }
    
    #Body{
    width: 75%;
    text-align: justify;
    margin-top: 45%;
    margin-left: 10%;
    margin-right: 20%;
    }
    #Description h2{
        margin-top: 15px;
        margin-left: 0px;
    }
    #titlel, .blockbar header{
        width: 75%;
    }
    #title h1, #Bacheca h1{
        margin-right: 0px;
        padding-right: 0px;
        font-size: 25px;
    }
    #Section a{
        font-size: 20px;
    }
    
    .post,#Posts{
        width: 80%;
        margin-left: 10%;
        margin-right: 15%;
        margin-bottom: 20%;
        padding-bottom: 10%;
        padding-left: 5%;
        padding-right: 5%;
    }
    .picture > img{
        
        margin-left: 10%;
        margin-right:  10%;
        width: 80%;
        height: 75%;
    }
    .blockbar{
        margin-left: 0px;
    }
    #thirdPost a{
        font-size: 12px;
    }
    #thirdPost a:link{
        width:50%;
    }
    
    #logout li{
        font-size: 12px;
        margin-right: -65%;
    }
    
  /*--------*/

  
    .barra{
        left:160px;
        width: 0px;
        height: 0px;
        margin-left: -50%;
        margin-top: 25%;

    }
    
    .barra a{
        color: #84078A;
    }
    nav li{
        padding: 0px;
    }
   
    nav ul{
        width: 0%;
        height: 0%;
        margin-left: -230%;
        margin-top: 35%;
        margin-right: 20%;
      
    }
    
    .Friends{
        margin-top: 32%;
        margin-left: 20%;
        margin-right: 20%;
    }
}
/*Adobe kuler*/
